/AcmeFunction/bin/
/AcmeFunction/obj/
/AcmeFunction/local.settings.json
/Common/bin/
/Common/obj/
/UpdateCdnCertificateFunction/bin/
/UpdateCdnCertificateFunction/obj/
/UpdateCdnCertificateFunction/local.settings.json
